#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  margin: 10px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
}

#form-input {
  padding: 2px 5px;
  width: 240px;
  height: 20px;
}

.btn {
  text-decoration: none;
  color: #6b5770;
  background-image: linear-gradient(90deg, #fd7f34, #bd155b);
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 15px 15px 5px;
  outline: none;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}

.btn:before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(90deg, #fd7f34, #bd155b);
  z-index: -2;
  transition: .4s;
  border-radius: 5px;
}

.btn:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #fff, #fff);
  z-index: -1;
  transition: .4s;
  border-radius: 4px;
}

.btn:hover {
  color: #fff;
  transition: .3s;
}

.btn:hover:after {
  background: linear-gradient(90deg, #fd7f34, #bd155b);
}

.btn:active:after {
  background: linear-gradient(90deg, #d96d2d, #760f3a);
}

.btn:focus-visible {
  box-shadow: 0 0 0 3px #fd7f34;
}

.btn:disabled {
  pointer-events: none;
}

.btn:disabled:before {
  filter: grayscale(100%);
}

.filmsList {
  margin: 0 auto;
  width: 45%;
}

.film {
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.film-input {
  border-color: lightsteelblue;
  padding: 6px;
  font-size: 20px;
  width: 88%;
}

.delete-btn {
  width: 30px;
  height: 30px;
  background: url("src/icons/delete-icon.png") center center no-repeat;
  background-size: cover;
  border-radius: 8px;
  border: 1.5px solid darkred;
}

.delete-btn:hover {
  border: 2.5px solid brown;
}

.Joke {
  width: 500px;
  padding: 16px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
}

.Joke:hover,
.Joke:active {
  background-color: #eee;
}

.Delivery {
  margin: 16px 0;
  color: #ccc;
  font-size: 20px;
}

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 15px 0;
  outline: none;
  padding: 8px 20px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
